<footer>
  <div class="footer container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <a href="{{ site.baseurl }}/"><span>SysAdmin |</span> {{ site.title }}</a>
      </div>
      <div class="by" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
        <a href="https://alvinlaz96.github.io/syskb/" target="_blank">Created with &#128147;</a>
      </div>
    </div>
  </div>
</footer>
